<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="employer-nom">Nom</label>
      <input id="employer-nom" class="form-control" type="text" name="employerNom" [(ngModel)]="data.nom" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="employer-prenom">Prenom</label>
      <input id="employer-prenom" class="form-control" type="text" name="employerPrenom" [(ngModel)]="data.prenom" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="employer-date-naissance">Date de naissance</label>
      <input id="employer-date-naissance" class="form-control" type="date" name="employerDateNaissance" [(ngModel)]="data.dateNaissance" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="employer-telephone">Telephone</label>
      <input id="employer-telephone" class="form-control" type="text" name="employerTelephone" [(ngModel)]="data.telephone" />
    </div>
  </div>
</div>

