<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="employeur-nom">Nom</label>
      <input id="employeur-nom" class="form-control" type="text" name="employeurNom" [(ngModel)]="data.nom" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="employeur-telephone">Telephone</label>
      <input id="employeur-telephone" class="form-control" type="text" name="employeurTelephone" [(ngModel)]="data.telephone" />
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="employeur-adresse">Adresse</label>
      <input id="employeur-adresse" class="form-control" type="text" name="employeurAdresse" [(ngModel)]="data.adresse" />
    </div>
  </div>
</div>

