<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="adresse-rue">Rue</label>
      <input id="adresse-rue" class="form-control" type="text" name="adresseRue" [(ngModel)]="data.rue" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="adresse-ville">Ville</label>
      <input id="adresse-ville" class="form-control" type="text" name="adresseVille" [(ngModel)]="data.ville" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="adresse-code-postale">Code postale</label>
      <input id="adresse-code-postale" class="form-control" type="text" name="adresseCodePostale" [(ngModel)]="data.codePostale" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="adresse-pays">Pays</label>
      <input id="adresse-pays" class="form-control" type="text" name="adressePays" [(ngModel)]="data.pays" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="adresse-province">Province</label>
      <input id="adresse-province" class="form-control" type="text" name="adresseProvince" [(ngModel)]="data.province" />
    </div>
  </div>
</div>

