
<header class="app-header">
  <header class="app-header1">
    <div class="header-banner1">
      <span class="banner-text">Gestion Produits - Système de Production Zinda</span>
    </div>
  </header>
  <div class="header-content">
    <div class="header-logo">
      <!--<img src="/ble.WebP" alt="Ble" class="logo-image-small alt-logo" style="width: 50px; height: 50px; margin-right: 10px;"/>--> 
      <span class="logo-icon">📦</span>
      <span class="logo-text">Zinda Production</span>
    </div>

    <nav class="header-nav" *ngIf="auth.isLoggedIn()">
      <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Produit</a>
      <a class="nav-link" routerLink="/qualite-produit" routerLinkActive="active">Assurance Qualité</a>
      <a class="nav-link" routerLink="/utilisateur" routerLinkActive="active">Utilisateur</a>
      <a class="nav-link" routerLink="/profil" routerLinkActive="active">Profil</a>
      <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
      <a class="nav-link" routerLink="/about" routerLinkActive="active">À propos</a>
      <a class="nav-link logout-link" style="cursor:pointer" (click)="logout()">Logout</a>
    </nav>
  </div>
</header>

<div class="container page-content-wrap">
  <router-outlet></router-outlet>
</div>




