<div class="row">
  <div class="col-md-12">
    <h5>Status</h5>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="statusResidant" [(ngModel)]="data.status.residant" /> residant
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="statusEtudiant" [(ngModel)]="data.status.etudiant" /> etudiant
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="statusVisiteur" [(ngModel)]="data.status.visiteur" /> visiteur
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="statusTravailleur" [(ngModel)]="data.status.travailleur" /> travailleur
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="statusCitoyen" [(ngModel)]="data.status.citoyen" /> citoyen
    </label>
  </div>

  <div class="col-md-12" style="margin-top: 10px;">
    <h5>Piece</h5>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="piecePassport" [(ngModel)]="data.piece.passport" /> passport
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="pieceCarteResident" [(ngModel)]="data.piece.carteResident" /> carteResident
    </label>
  </div>
  <div class="col-md-4">
    <label class="checkbox-inline">
      <input type="checkbox" name="piecePermisTravaille" [(ngModel)]="data.piece.permisTravaille" /> permisTravaille
    </label>
  </div>
</div>

