<div class="container responsive-container">
  <div class="panel panel-primary">
    <div class="panel-heading">Tableau de Bord des Produits</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <thead>
            <tr class="info">
              <th>ID</th>
              <th>Nom</th>
              <th>Code</th>
              <th>Lot Produit</th>
              <th>Lot BigBag</th>
              <th>Silo</th>
              <th>Client</th>
              <th>Quantité</th>
              <th>Opérateur</th>
              <th>Qualité</th>
              <th>Fulminé</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produit of produits">
              <td>{{ produit.id }}</td>
              <td>{{ produit.name }}</td>
              <td>{{ produit.code }}</td>
              <td>{{ produit.lotProduit }}</td>
              <td>{{ produit.lotBigBag }}</td>
              <td>{{ produit.silo }}</td>
              <td>{{ produit.client }}</td>
              <td>{{ produit.quantite }}</td>
              <td>{{ produit.operateur }}</td>
              <td>{{ produit.qualite }}</td>
              <td>{{ produit.fulmine ? 'Oui' : 'Non' }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="traiterProduit(produit)">Traiter</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
