.responsive-container {
  max-width: 1150px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.container.responsive-container {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .responsive-container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.button-row {
  text-align: center;
  margin-top: 12px;
}

.button-row .btn {
  margin: 0 4px;
}